// Place all the styles related to the buybitcoins controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head {
  height:50px;
  padding:10px;
}

.background-aliceblue {
  background: aliceblue;
}

.font-weight-500 {
  font-weight: 500;
}

.padding-top-100 {
  padding-top:100px;
}

.padding-top-50 {
  padding-top:50px;
}

.padding-top-20 {
  padding-top:20px;
}

.padding-top-10 {
  padding-top:10px;
}


.font-size-10 {
  font-size: 10px;
}

.font-color-red {
  color: red;
}

.border-color-black {
  border-color: black;
}

.textalign-center {
  text-align: center;
}

.textalign-left {
  text-align: left;
}